<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .nav {
            cursor: pointer;
        }

        .nav-alt {
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    </style>
    <title>Suspect Details</title>
</head>

<body class="vh-100 d-flex flex-column justify-content-between">
    <%- include('../partials/navbar') %>
        <section class="main_content m-5">
            <h1 class="m-2 text-center display-3">Suspect Details</h1>
            <div class="row">
                <div class="col-6 p-4">
                    <div class="row mb-3">
                        <p class="lead">
                            Suspect Name
                        </p>
                        <p class="h5 m-2 border p-2">

                            <%= criminal.Sname %>
                        </p>
                    </div>
                    <div class="row mb-3">
                        <p class="lead">
                            Age
                        </p>
                        <p class="h5 m-2 border p-2">
                            <%= criminal.age %>
                        </p>
                    </div>
                    <div class="row mb-3">
                        <p class="lead">
                            Height (cm)
                        </p>
                        <p class="h5 m-2 border p-2">
                            <%= criminal.height %>
                        </p>
                    </div>
                    <div class="row mb-3">
                        <a href="/criminal/update/<%= criminal.id %> " class="col text-decoration-none text-center">
                            <button class="btn btn-outline-primary" id="next">Add Images</button>
                        </a>
                    </div>
                </div>
                <div class="col m-4">
                    <% if (criminal.faces.length>= 1) { %>
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-inner">
                                <% criminal.faces.forEach((face, i)=> {%>
                                    <div class="carousel-item <%= i===0 ? 'active':'' %> ">
                                        <img src="<%= face.url %> " class="d-block w-100" alt="..."
                                            style="max-height: 500px;">
                                    </div>
                                    <% }) %>
                            </div>
                            <% if (criminal.faces.length> 1) { %>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                        </div>
                        <% }else{ %>
                            <div class="row justify-content-md-center">
                                <img src="/images/placeholderImage.png" style="max-width: 450px; max-height: 450px">
                            </div>
                            <% } %>
                </div>
            </div>
        </section>
        <%- include('../partials/footer') %>
            <script src="/js/bootstrap.min.js"></script>
            <script>
                let navBrand = document.querySelector('.nav')
                let navBrandAlt = document.querySelector('.nav-alt')

                navBrand.addEventListener('click', () => {
                    navBrand.classList.toggle('hidden');
                    navBrandAlt.classList.toggle('hidden');
                })
                navBrandAlt.addEventListener('click', () => {
                    navBrand.classList.toggle('hidden');
                    navBrandAlt.classList.toggle('hidden');
                })
            </script>
</body>

</html>